* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/vintage-concrete.png);
    height: auto;
}

h2 {
    font-weight: bolder;
}

a {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin-top: 20px;
}

footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
}

.submit {
    background-color: #4aaaaf;
    width: 100px;
    margin-bottom: 20px;
}

.item-box {
    height: 175px;
    width: 200px;
    margin-bottom: 30px;
    position: relative;
}

.text-block {
    position: absolute;
    bottom: 25px;
    background-color: #4aaaaf;
    color: white;
    width: 200px;
    height: 50px;
    opacity: 0.8;
    text-align: center;
}

.text-block-font {
    font-size: 20px;
}

.header-bar {
    border-bottom: 3px solid #cccccc;
    background-color: #ffffff;
    width: auto;
}

.main-body {
    background-color: #ffffff;
    border: 3px solid #dddddd;
    width: 960px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-header {
    height: 50px;
    margin: 10px 10px 0px 10px;
    border-bottom: 3px solid #cccccc;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaaf;
}

.main-content {
    margin: 20px 0px 0px 10px;
}

.message-box {
    height: 200px;
}

#title-box {
    height: 75px;
    background-color: #4aaaaf;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: white;
}

#nav-box {
    height: 75px;
    background-color: white;
    text-align: center;
}